    <script type="text/javascript">
        $(document).ready(function () {
            var slider = $('.slides-c3e89e24cc324a9fbaa0678ea39869db');

            if (slider !== undefined && slider !== null) {

                if (!($.browser.msie) || ($.browser.msie && parseInt($.browser.version) > 8)) {
                    /*fadeOutControls();*/
                    attachFadesc3e89e24cc324a9fbaa0678ea39869db(slider);
                }
                else {
                    attachHideShowc3e89e24cc324a9fbaa0678ea39869db(slider);
                    slider.mouseout();
                }

                $('.next, .prev').click(function () {
                    $(this).blur();
                });

                var intervalId = '';

                var sliderOffset = slider.offset();

                var sliderLeft = sliderOffset.left;

                var sliderTop = sliderOffset.top;

                var sliderWidth = slider.width();

                var sliderRight = sliderLeft + sliderWidth;

                var sliderHeight = slider.height();

                var sliderBottom = sliderTop + sliderHeight;

                var pause = false;

                $(document).mousemove(function (event) {
                    if ((event.pageX > sliderLeft && event.pageX < sliderRight) && (event.pageY > sliderTop && event.pageY < sliderTop + sliderHeight)) {
                        clearInterval(intervalId);
                        clearInterval(slider.data('interval'));
                        intervalId = setInterval(function () { clearInterval(slider.data('interval')); }, 500);
                        pause = true;
                    }
                    else {
                        if (pause) {
                            pause = false;
                            clearInterval(intervalId);
                            $('.slides_control > div').mouseout();
                        }
                    }
                });

                var overlay = $('.sliderOverlay');

                /* Show navigation overlay if links not displayed */
                if (overlay === undefined || overlay === null || !$(overlay).is(':visible')) {
                    var navOverlay = $('.navigationOverlay');
                    if (navOverlay !== undefined && !navOverlay !== null) {
                        navOverlay.show();
                    }
                }
            }
        });

        function attachFadesc3e89e24cc324a9fbaa0678ea39869db(element) {
            if (shouldFade_c3e89e24cc324a9fbaa0678ea39869db) {

                fadeOutControls(element);

                element.hover(
                function () { fadeInControls(element); },
                function () { fadeOutControls(element); }
            );

            }
        }

        function attachHideShowc3e89e24cc324a9fbaa0678ea39869db(element) {
            if (shouldFade_c3e89e24cc324a9fbaa0678ea39869db) {
                element.hover(
                    function () {
                        $('.prev', element).stop().show();
                        $('.next', element).stop().show();
                    },
                    function () {
                        $('.prev', element).hide();
                        $('.next', element).hide();
                    }
                );
            }
        }

        function fadeOutControls(element) {
            var speed = 1000;

            $('.prev', element).fadeOut(speed);
            $('.next', element).fadeOut(speed);
        }

        function fadeInControls(element) {
            var speed = 'medium';

            $('.prev', element).stop(true, true).fadeIn(speed);
            $('.next', element).stop(true, true).fadeIn(speed);
            return false;
        }
    </script>
    <style type="text/css">
        .sliderOverlay, .navigationOverlay {
            width: 245px;
        }

        .htmlSlider {
            position: relative;
        }
    </style>
    <div id="slides" class="htmlSlider slides-c3e89e24cc324a9fbaa0678ea39869db ">
        <div class="slides_container" style="overflow: hidden; position: relative; display: block;">
            <div class="slides_control" style="position: relative; width: 2940px; height: 268px; left: -980px;">
                <div style="position: absolute; top: 0px; left: 980px; z-index: 0; display: none;">
                    <img width="978" height="268" alt="AVEVA in the Process Plant Industry" src="/~/media/Aveva/English/Images/Home_page_gallery/Refining1.jpg?la=en">
                </div><div style="position: absolute; top: 0px; left: 980px; z-index: 0; display: none;">
                    <img alt="AVEVA in the Mining &amp; Minerals Industry" src="/~/media/Aveva/English/Images/Home_page_gallery/Mining1.jpg?la=en">
                </div><div style="position: absolute; top: 0px; left: 980px; z-index: 0; display: none;">
                    <img width="978" height="268" alt="AVEVA in the Oil &amp; Gas Industry" src="/~/media/Aveva/English/Images/Home_page_gallery/Petrobras_refinery.jpg?la=en">
                </div><div style="position: absolute; top: 0px; left: 980px; z-index: 0; display: none;">
                    <p><img alt="AVEVA in the Power Industry" src="/~/media/Aveva/English/Images/Home_page_gallery/Paks2Turbine Room.jpg?la=en"></p>
                </div><div style="position: absolute; top: 0px; left: 980px; z-index: 0; display: none;">
                    <img alt="AVEVA in the Oil &amp; Gas Industry" src="/~/media/Aveva/English/Images/Home_page_gallery/Plant1.jpg?la=en">
                </div><div style="position: absolute; top: 0px; left: 980px; z-index: 0;">
                    <p><img alt="AVEVA in the Pulp &amp; Paper Industry" src="/~/media/Aveva/English/Images/Home_page_gallery/Paper1.jpg?la=en"></p>
                </div><div style="display: none; position: absolute; top: 0px; left: 980px; z-index: 0;">
                    <img alt="AVEVA in the Shipbuilding Industry" src="/~/media/Aveva/English/Images/Home_page_gallery/Zeevaart-TSHD-GATEWAY-978px.JPG?la=en">
                </div><div style="display: none; position: absolute; top: 0px; left: 980px; z-index: 0;">
                    <img width="978" height="268" alt="AVEVA in the Marine Industry" src="/~/media/Aveva/English/Images/Home_page_gallery/Waller-Marine-Barges-978px.jpg?la=en">
                </div><div style="display: none; position: absolute; top: 0px; left: 980px; z-index: 0;">
                    <img width="978" height="268" alt="AVEVA in the Shipbuilding Industry" src="/~/media/Aveva/English/Images/Home_page_gallery/Naval_rauma.jpg?la=en">
                </div><div style="display: none; position: absolute; top: 0px; left: 980px; z-index: 0;">
                    <img width="978" height="268" alt="AVEVA in the Chemical Industry" src="/~/media/Aveva/English/Images/Home_page_gallery/Plant2.jpg?la=en">
                </div>
            </div>









        </div><a href="#" class="prev" style="display: none;">Prev</a><a href="#" class="next" style="display: none;">Next</a>
        <div class="sliderOverlay">
            <h3>
                AVEVA in your industry
            </h3>
            <ul>
                <li>
                    <a title="AVEVA Solutions for the Oil &amp; Gas Industry" href="http://www.aveva.com/en/Industry_Sectors/Oil_and_Gas.aspx">
                        Oil &amp; Gas
                    </a>
                </li>
                <li>
                    <a title="AVEVA Solutions for the Marine &amp; Offshore Industry" href="http://www.aveva.com/en/Industry_Sectors/Marine.aspx">
                        Marine &amp; Offshore
                    </a>
                </li>
                <li>
                    <a title="AVEVA Solutions for the Power Industry" href="http://www.aveva.com/en/Industry_Sectors/Power.aspx">
                        Power
                    </a>
                </li>
                <li>
                    <a title="AVEVA Solutions for the Chemicals Industry" href="http://www.aveva.com/en/Industry_Sectors/Chemical.aspx">
                        Chemicals
                    </a>
                </li>
                <li>
                    <a title="AVEVA Solutions for the Mining &amp; Minerals Processing Industry" href="http://www.aveva.com/en/Industry_Sectors/Mining.aspx">
                        Mining &amp; Minerals
                    </a>
                </li>
                <li>
                    <a title="AVEVA Solutions for the Pulp &amp; Paper Industry" href="http://www.aveva.com/en/Industry_Sectors/Pulp_and_Paper.aspx">
                        Pulp &amp; Paper
                    </a>
                </li>
            </ul>
            <script type="text/javascript">
                $(function () {
                    $('.sliderOverlay li a').each(function () {
                        if ($(this).attr('rel') === 'external' && !$(this).attr('target')) {
                            $(this).attr('target', '_blank');
                        }
                    });
                });
            </script>
        </div>
        <div class="navigationOverlay">
        </div>
        <ul class="pagination"><li class=""><a href="#0">1</a></li><li class=""><a href="#1">2</a></li><li class=""><a href="#2">3</a></li><li class=""><a href="#3">4</a></li><li class=""><a href="#4">5</a></li><li class="current"><a href="#5">6</a></li><li><a href="#6">7</a></li><li><a href="#7">8</a></li><li><a href="#8">9</a></li><li><a href="#9">10</a></li></ul>
    </div>
    <div style="clear: both;">
    </div>

    <div id="content" class="content-lines clearfix">
        <div class="sep-content"></div>
        <div class="col-1">
            <div class="box"><h2 class="blue">Worldwide Offices</h2><p><a href="/en/Contact/Worldwide_Offices.aspx"><img alt="AVEVA Worldwide Offices" src="/~/media/Aveva/English/Images/Thumbnails/General/world_map1.gif?la=en" style="border:0;width:207; height:101"></a></p><a class="more" href="/en/Contact/Worldwide_Offices.aspx">AVEVA Worldwide Offices</a></div><div class="box"><h2 class="blue">AVEVA Careers</h2><p><a href="en/About_AVEVA/Careers/Vacancies.aspx"><img alt="Current Job Vacancies at AVEVA" src="~/media/Aveva/English/Images/Thumbnails/General/careers_bw2.ashx" style="border:0;width:200; height:132"></a></p><a class="more" href="/en/About_AVEVA/Careers/Vacancies.aspx">Current Job Vacancies at AVEVA</a></div><div class="box">
                <h2 class="blue">Quick Product Details</h2><p style="margin-top:10px">
                    <a href="/Products_and_Services/Product_Finder.aspx"><img style="width: 80px; height: 80px;  margin-right: 20px;border: 0px solid; float:left" alt="AVEVA Product Finder" src="/~/media/Aveva/English/Images/Page Content/Home Page/banner_product_finder.png?la=en"></a>
                    Looking for information about AVEVA's market-leading products?
                </p>
                <div style="clear: both;">
                    <br>
                </div><a class="more" href="/en/Products_and_Services/Product_Finder.aspx">AVEVA Product Finder</a>
            </div><div class="box">
                <h2 class="blue">Follow AVEVA!</h2><div class="block_container" style="margin: 0px 0px 20px; width: 180px;">
                    <div class="row2_container">
                        <div class="row2_box1" style="padding-bottom: 0px; padding-left: 0px; width: 63px; padding-right: 0px; padding-top: 0px;"><a href="https://twitter.com/AVEVAGroup" target="_blank"><img style="width: 50px; height: 50px;border: 0px solid;" alt="Follow AVEVA on Twitter" src="/~/media/Aveva/English/Images/Icons/Twitter_128x128.png?h=60&amp;w=60&amp;as=1&amp;la=en"></a></div>
                        <div class="row2_box1" style="padding-bottom: 0px; padding-left: 0px; width: 63px; padding-right: 0px; padding-top: 0px;"><a href="http://www.youtube.com/avevagroup" target="_blank"><img style="width: 50px; height: 50px;border: 0px solid;" alt="Follow AVEVA on YouTube" src="/~/media/Aveva/English/Images/Icons/Youtube_128x128.png?h=60&amp;w=60&amp;as=1&amp;la=en"></a></div>
                        <div class="row2_box1" style="padding-bottom: 0px; padding-left: 0px; width: 63px; padding-right: 0px; padding-top: 0px;"><a href="http://www.linkedin.com/company/aveva" target="_blank"><img style="width: 50px; height: 50px;border: 0px solid;" alt="Follow AVEVA on LinkedIn" src="/~/media/Aveva/English/Images/Icons/linkedin_60x60.png?la=en"></a></div>
                    </div>
                    <div style="clear: left;"></div>
                </div><a class="more" href="/en/Media-Centre/Videos.aspx">Featured AVEVA Videos</a>
            </div><div class="box box-last">
                <h2 class="blue">AVEVA Tweets</h2>
                <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true" class="twitter-timeline twitter-timeline-rendered" style="position: static; visibility: visible; display: inline-block; width: 520px; height: 250px; padding: 0px; border: none; max-width: 100%; min-width: 180px; margin-top: 0px; margin-bottom: 0px; min-height: 200px;" data-widget-id="349157331080212480" title="Twitter Timeline"></iframe>
                <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
            </div>
        </div>
        <div class="col-2" id="landing">
            <div class="box">
                <h2 class="blue">AVEVA Spotlight</h2><h2>The Future of Decision Support is here!</h2>
                <img alt="AVEVA Engage" src="/~/media/Aveva/English/Products/Images/Engage/AVEVA-Engage_300x200px.png?h=89&amp;w=130&amp;la=en" style="height: 89px; width: 130px; float: left; margin-right: 10px; border-width: 0px; border-style: solid;">
                <p>AVEVA Engage™ revolutionises collaborative decision-making across capital projects and operating assets. Combining instant access to a Digital Asset’s rich information with a simple touch-driven interface and Ultra-High Definition (UHD) rendering, AVEVA Engage brings better, faster decisions throughout the asset life cycle. </p>
                <p><strong>Learn more about this innovative product:</strong></p>
                <div style="clear: both;">
                    <table style="width: 100%;" cellspacing="0" cellpadding="0" align="left">
                        <tbody>
                            <tr>
                                <td style="text-align: left; width: 35%; white-space: nowrap; vertical-align: middle;"><a href="/en/Products_and_Services/Product_Finder/AVEVA_Engage.aspx" class="more fancy" onclick="javascript: return false;">More Information</a></td>
                                <td style="text-align: left; width: 25%; white-space: nowrap; vertical-align: middle;"><a href="/en/News-Events/Press-Releases/Press-Releases-2015/Corporate/New-AVEVA-Engage-redefines-engineering-decision-support.aspx" class="more">Press Release</a></td>
                                <td style="text-align: left; width: 20%; white-space: nowrap; vertical-align: middle;"><a class="more" title="Opens Future of Decision Support website in a new window" href="http://www.aveva.com/futureofdecisionsupport" target="_blank">Website</a></td>
                                <td style="text-align: left; width: 20%; white-space: nowrap; vertical-align: middle;"><a href="https://www.youtube.com/watch?v=1J2j0EBDWH0" title="Watch the Video" class="more fancy-video-640x385" target="_blank" onclick="javascript: return false;">Future of Decision Support video </a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div><div class="box">
                <h2 class="blue">Read AVEVA World Magazine</h2><p style="text-align: left;"><img style="float: left; border: 0px solid;" alt="AVEVA World Magazine" src="/~/media/Aveva/English/Images/Pipeline_articles/AWM-title-banner-2014.png?la=en">The latest developments and customer successes with AVEVA technology</p>
                <iframe class="mixedContent" frameborder="0" border="0" width="450" height="345" style="overflow: hidden; border: 0px; width: 450px; height: 345px; background: transparent;" background="transparent" allowtransparency="true" src="http://aveva.uberflip.com/read/embed_mini/49796/644268?miniPop=true&amp;alwaysCover=false&amp;miniTitle=&amp;miniColor=&amp;miniLinkToTitle=false&amp;miniUrl=&amp;miniBg=FFFFFF&amp;hideBg=true&amp;width=450&amp;height=345&amp;sharing=false"></iframe>
                <table style="width: 100%; border-bottom-width: 0px;">
                    <tbody>
                        <tr>
                            <td style="text-align: left; width: 50%; vertical-align: top;">
                                <h2>Cover story</h2>
                                <p>
                                    <a href="http://aveva.uberflip.com/i/644268/3" target="_blank" title="Opens e-book in a new window" class="more fancy-document-948x750" onclick="javascript: return false;">
                                        Hyundai<br>
                                        Building the biggest
                                    </a>
                                </p>
                            </td>
                            <td style="text-align: left; vertical-align: top;">
                                <h2>Download the Magazine</h2>
                                <p><a href="/~/media/Aveva/English/Resources/Pipelines/AVEVA-World-Magazine-2016(1).pdf?la=en" target="_blank" title="Opens a new window" class="download">Download</a></p>
                                <p><a href="/en/Media-Centre/AWM.aspx" class="more">View all issues</a></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div><div class="box box-last">
                <h2 class="blue">AVEVA Wins Leadership Award</h2><p><a href="/en/Promotions/corporate/AVEVA-Award-Frost-Sullivan.aspx"><img style="width: 200px; float: left; height: 150px; border: 0px solid; margin-right: 10px; margin-bottom: 10px;" alt="AVEVA World" src="/~/media/Aveva/English/Images/Page Content/Promotions/award-foster-sullivan/frost_and_sullivan_award_spotlight.gif?h=150&amp;w=200&amp;la=en"></a></p>
                <p>
                    AVEVA is the proud winner of the Frost &amp; Sullivan 2015 Global Engineering Information Management Solutions Competitive Strategy Innovation and Leadership Award.<br><br>
                    <a href="/en/Promotions/corporate/AVEVA-Award-Frost-Sullivan.aspx" class="more">Find out more</a>
                </p>
            </div>
        </div>
        <div class="col-3">
            <div id="latest-news" class="box slider"><h2 class="blue">Latest News</h2><div id="slider-news" style="width: 209px; overflow: hidden; height: 109px;"><ul style="width: 1045px;"><li style="margin-left: -209px; float: left;"><a class="title" href="/en/News-Events/Press-Releases/Press-Releases-2016/Corporate/Technovision-implements-AVEVA-Integrated-Engineering-and-Design-solution.aspx">Technovision implements AVEVA’s Integrated Engineering &amp; Design solution </a><p class="news-archiv">New software will support the delivery of Architect Engineering Services to EPC Contractors of power plant projects and will help avoid costly on-site inaccuracies </p><a class="more" title="Go to AVEVA Press Releases" href="/en/News-Events/Press-Releases.aspx">More news</a></li><li style="float: left;"><a class="title" href="/en/News-Events/Press-Releases/Press-Releases-2016/Corporate/AVEVA-Group-plc-Preliminary-Results-for-the-year-ended-31-March-2016.aspx">AVEVA Group plc Preliminary Results for the year ended 31 March 2016 </a><p class="news-archiv">AVEVA Group plc Preliminary Results for the year ended 31 March 2016</p><a class="more" title="Go to AVEVA Press Releases" href="/en/News-Events/Press-Releases.aspx">More news</a></li><li style="float: left;"><a class="title" href="/en/News-Events/Press-Releases/Press-Releases-2016/Corporate/DowAksa-selects-AVEVA-software-to-enhance-engineering-data-and-increase-operational-efficiency.aspx">DowAksa selects AVEVA software to enhance engineering data and increase operational efficiency </a><p class="news-archiv">DowAksa will improve projects, operations and maintenance with AVEVA’s Integrated Engineering &amp; Design</p><a class="more" title="Go to AVEVA Press Releases" href="/en/News-Events/Press-Releases.aspx">More news</a></li><li style="float: left;"><a class="title" href="/en/News-Events/Press-Releases/Press-Releases-2016/Corporate/Omnix-International-forms-partnership-with-AVEVA-dedicated-to-KSA-Kuwait-and-Qatar-Oil-and-Gas.aspx">Omnix International forms partnership with AVEVA dedicated to KSA, Kuwait and Qatar Oil and Gas</a><p class="news-archiv">Alliance brings choice, increases efficiencies and reduces risk for customers </p><a class="more" title="Go to AVEVA Press Releases" href="/en/News-Events/Press-Releases.aspx">More news</a></li><li style="float: left;"><a class="title" href="/en/News-Events/Press-Releases/Press-Releases-2016/Corporate/Technovision-implements-AVEVA-Integrated-Engineering-and-Design-solution.aspx">Technovision implements AVEVA’s Integrated Engineering &amp; Design solution </a><p class="news-archiv">New software will support the delivery of Architect Engineering Services to EPC Contractors of power plant projects and will help avoid costly on-site inaccuracies </p><a class="more" title="Go to AVEVA Press Releases" href="/en/News-Events/Press-Releases.aspx">More news</a></li><li style="float: left;"><a class="title" href="/en/News-Events/Press-Releases/Press-Releases-2016/Corporate/AVEVA-Group-plc-Preliminary-Results-for-the-year-ended-31-March-2016.aspx">AVEVA Group plc Preliminary Results for the year ended 31 March 2016 </a><p class="news-archiv">AVEVA Group plc Preliminary Results for the year ended 31 March 2016</p><a class="more" title="Go to AVEVA Press Releases" href="/en/News-Events/Press-Releases.aspx">More news</a></li></ul></div><div class="pager"> <span id="btn-prev-news"><a href="javascript:void(0);">Previous</a></span> <span id="news-current">01</span> <span>/</span> <span id="news-count">04</span> <span id="btn-next-news"><a href="javascript:void(0);">Next</a></span></div></div><div class="box slider"><h2 class="blue">Events</h2><div id="slider-events" style="width: 209px; overflow: hidden; height: 223px;"><ul style="width: 1045px;"><li style="margin-left: -209px; float: left;"><a class="title" href="/en/News-Events/Events/Corporate/METALTECH_2016.aspx">AVEVA Exhibits at METALTECH 2016 - Kuala Lumpur, Malaysia</a><p>AVEVA will be exhibiting at this coming METALTECH 2016 at Putra World Trade Centre Kuala Lumpur, Malaysia from Wednesday, 25 May to Saturday, 28 May. Come and meet AVEVA at Booth No. 1542.</p><a class="more" title="See all events" href="/en/News-Events/Events.aspx">More Events</a></li><li style="float: left;"><a class="title" href="/en/News-Events/Events/Corporate/BIM_An_Insight_From_the_Energy_Sector_UK_2016.aspx">BIM: An Insight from the Energy Sector, UK</a><p>Join us at a Lunch &amp; Learn session near you and learn how you can benefit from the Energy Sector’s approach to BIM. The session will reference a recent customer presentation which describes how they have utilised the existing expertise within their Energy business to drive forward this BIM approach on their Infrastructure projects.</p><a class="more" title="See all events" href="/en/News-Events/Events.aspx">More Events</a></li><li style="float: left;"><a class="title" href="/en/News-Events/Events/Corporate/AVEVA_Fabtrol_California_Roadshow_May24_2016.aspx">AVEVA FabTrol Steel Fabrication Roadshow - California, USA</a><p>Join AVEVA FabTrol for the Steel Fabrication Roadshow in California.</p><a class="more" title="See all events" href="/en/News-Events/Events.aspx">More Events</a></li><li style="float: left;"><a class="title" href="/en/News-Events/Events/Corporate/AVEVA_World_Denmark_User_Meeting_2016.aspx">AVEVA World Denmark User Meeting 2016 - Nyborg, Denmark</a><p>At the AVEVA World Denmark User Meeting we will reflect and discuss as a community how we can implement better working methods and change the way we operate to drive down cost, reduce risk and increase efficiency throughout the project and asset life cycle. </p><a class="more" title="See all events" href="/en/News-Events/Events.aspx">More Events</a></li><li style="float: left;"><a class="title" href="/en/News-Events/Events/Corporate/METALTECH_2016.aspx">AVEVA Exhibits at METALTECH 2016 - Kuala Lumpur, Malaysia</a><p>AVEVA will be exhibiting at this coming METALTECH 2016 at Putra World Trade Centre Kuala Lumpur, Malaysia from Wednesday, 25 May to Saturday, 28 May. Come and meet AVEVA at Booth No. 1542.</p><a class="more" title="See all events" href="/en/News-Events/Events.aspx">More Events</a></li><li style="float: left;"><a class="title" href="/en/News-Events/Events/Corporate/BIM_An_Insight_From_the_Energy_Sector_UK_2016.aspx">BIM: An Insight from the Energy Sector, UK</a><p>Join us at a Lunch &amp; Learn session near you and learn how you can benefit from the Energy Sector’s approach to BIM. The session will reference a recent customer presentation which describes how they have utilised the existing expertise within their Energy business to drive forward this BIM approach on their Infrastructure projects.</p><a class="more" title="See all events" href="/en/News-Events/Events.aspx">More Events</a></li></ul></div><div class="pager"> <span id="btn-prev"><a href="javascript:void(0);">Previous</a></span> <span id="events-current">01</span> <span>/</span> <span id="events-count">04</span> <span id="btn-next"><a href="javascript:void(0);">Next</a></span></div></div><div class="box">
                <h2 class="blue">AVEVA Webinars</h2><p class="small"></p><p style="margin-top:20px">
                    <a href="http://www.aveva.com/webinars"><img style="width: 60px; height: 51px;  margin-right: 20px;border: 0px solid; float:left" alt="AVEVA Webinars" src="~/media/0CEEF2FEAC574F5EA78A6BB652B33B40.ashx"></a>
                    Practical ways to benefit from AVEVA technology
                </p>
                <div style="clear: both;">
                    <br>
                </div><a class="more" href="/en/News-Events/Webinars.aspx">Go to AVEVA Webinars</a>
            </div><div class="box box-last">
                <h2 class="blue">An exciting future!</h2><p class="small"><a href="http://futureofplantdesign.aveva.com" title="Opens a new window on the future!" target="_blank"><img alt="Discover the future now!" src="~/media/13674F8668A4431097D55C21B5DC7A82.ashx" style="border:0;width:207; height:112"></a></p>
                <p>AVEVA continues to expand capabilities in engineering and design. At last the key enablers of Lean Construction are here!</p><a class="more" title="Opens a new window on the future!" href="http://futureofplantdesign.aveva.com/" target="_blank">Discover the future now!</a>
            </div>
        </div>
        <div class="sep-content"></div>
    </div>
